<h1>Public Page</h1>

<% if rodauth.logged_in? %>
  <h1>You are logged in as <%= current_email %></h1>

  <ul>
    <li><a href="/change-login">Change Login</a></li>
    <li><a href="/change-password">Change Password</a></li>
    <li><a href="/close-account">Close Account</a></li>
  </ul>

<% else %>
  <h1>Overview</h1>

  <p>This is the demo site for <a href="https://github.com/jeremyevans/rodauth">Rodauth</a>.  Rodauth is an authentication and account management framework for rack applications, with the following design goals:</p>

  <ol>
    <li>Security: Ship in a maximum security by default configuration</li>
    <li>Simplicity: Allow for easy configuration via a DSL</li>
    <li>Flexibility: Allow for easy overriding of any part of the framework</li>
  </ol>

  <p>It's easiest to get started by going to the <a href="/login">login page</a>.</p>
<% end %>
